

<div id="about">
	<p class="subheading">Casey Li - "The Professor"</p>
	<p><img src="/images/li.jpg" align="left" class="cont">
		Rails and Apple enthusiast. Kick ass Product Owner / Web Developer / Videographer / Graphic Designer. Poor taste in phones. 
	</p>
</div>

<div id="about">

	<p class="subheading">Mark Dabrowski - "Mr. Difficult"</p>
	<p><img src="/images/dbrow.jpg" align="left" class="cont">
		Darts and Walks enthusiast. The brains and brawn behind all things Teldio. Poor phone skills and is unable to control one's self when there is food on the 'community' table.
</div>


<div id="about">
	<p class="subheading">Damithri Silva - "The Real D3"</p>
	<p><img src="/images/silva.jpg" align="left" class="cont">
		Board Game and Sports enthusiast. Doesn't like to talk about herself. 
	</p>
</div>
