<p>Welcome to Mark and D's first Ruby on Rails site. We are students of the great Cli23. </p>

<p>D's impression of Rails so far: <a href="http://i0.kym-cdn.com/photos/images/original/000/138/244/funny-barack-michelle-obama-face.jpg?1308706785" target="_blank">Not bad, Not bad at all.</a> </p>

<p>Mark's impression of Rails so far: <a href="http://s3.amazonaws.com/mfw-production/image_post/193/medium/199.jpg" target="_blank">I am intrigued</a>.</p>
	







