// Place all the styles related to the NewsItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* styling for the on page form */
.form{
  background-color:#999;
  width: 400px;
  padding: 10px;
}
